body{
    background-color:#f4f4f4;
}

h1{
    font-weight:bold;
}

.card{
    border-radius:15px;
}

.concluida{
    text-decoration:line-through;
    color:gray;
}

.data{
    font-size:12px;
    color:#666;
}